<configuration>
    <appender name="BACKEND_SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>mylog/backend-service.log</file> <!-- Путь к файлу логов внутри проекта -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>mylog/backend.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="BACKEND_SERVICE" />
    </root>

</configuration>